@font-face {
  font-family: montserrat-light;
  src: url(/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(/fonts/Montserrat-SemiBold.ttf);
}

:root {
  --bg-color: hsl(0 5 93);
  --accent-color: hsl(0 100 30);
  --text-color: hsl(196 93 12);
}

p {
  margin: 0;
  padding: 0;
}

.card {
  width: 275px;
  height: 150px;
  border: solid 2px black;
  border-radius: 0px 20px 20px 20px;
  background-color: var(--bg-color);
  font-family: montserrat-regular;
}

.timeInfo {
  margin: 17px 5px;
  width: 95%;
  height: 60px;
  display: flex;
}

.timeBlock {
  width: 50%;
  height: 100%;
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  font-family: montserrat-regular;
  font-size: 12pt;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  background-color: hsl(4 5 93);
  border: 2px solid var(--accent-color);
  /* z-index: 1000; */
}

.clock-container {
}

.clock {
  font-family: montserrat-semibold;
  font-size: 3.5em;
  text-align: center;
}

.controls {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 2px 10px;
}

.start {
  background-color: lightgreen;
}

.stop {
  background-color: lightcoral;
}

.reset {
  background-color: lightblue;
}
